@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="~/css/facilities.css" rel="stylesheet" />
}

    <section id="facilitiesWrapper">
        <div id="followMouse">
            <span>FACILITIES</span>
        </div>

        <div class="underBarBox">
            <div>
                <h2>부대시설</h2>
            </div>
            <div></div>
        </div>

        <div class="detailBox">
            <div class="imageBox">
                <img id="coffeeMachine"/>
            </div>
            <div class="captionBox">
                <div>
                    <h2>1F 보래드 베이커스</h2>
                </div>
                <div>
                    <p>보래드 베이커스는 호텔에서 직접 운영하는 카페입니다.</p>
                    <p>아침에 갓 구운 빵과 스페셜 로스팅된 커피를 즐기실 수 있으며</p>
                    <p>바다가 보이는 카페에서 여유로운 휴식 시간을 가질 수 있는</p>
                    <p>호텔 서귀피안의 휴식 공간입니다.</p>
                </div>
                <div>
                    <img src="~/images/Bread1.jpg" />
                    <img src="~/images/Bread2.jpg" />
                </div>
            </div>
        </div>

        <div class="underBarBox">
            <div>
                &nbsp;
            </div>
            <div></div>
        </div>

        <div class="detailBox">
            <div class="imageBox">
                <img id="pool" />
            </div>
            <div class="captionBox">
                <div>
                    <h2>1F 야외 수영장</h2>
                </div>
                <div>
                    <p>키즈풀을 목적으로 제작된 이 수영장은 현재 운영이 중단된 상태입니다.</p>
                </div>
                <div>
                    <img src="~/images/Pool1.jpg" />
                    <img src="~/images/Pool2.jpg" />
                </div>
            </div>
        </div>

    </section>


@section EndBody{
    <script type="text/javascript">
        var _mouseY;
        $(function () {
            $(document).mousemove(function (e) {
                _mouseY = e.pageY;
                if (_mouseY > 120 && _mouseY < 1600) {
                    $("#followMouse > span").css("top", eval(_mouseY - 170));
                }
            });

            if (screen.width <= 425) {
                $("#facilitiesWrapper").css("width", screen.width);
            }
        });
    </script>
}